/* second slider css */ 
.myslider .swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.myslider .swiper-button-next,
.swiper-button-prev {
  background-color: #000 !important;
}
.myslider {
  position: relative;
  padding: 70px 0 70px 0;
}
.myslider i {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.myslider .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: unset !important;
  bottom: 0px;
  z-index: 10;
}
.myslider .swiper-button-prev {
  left: calc(50% - 60px);
}
.myslider .swiper-button-next {
  right: calc(50% - 60px);
}

@media (max-width:768px){
    .myslider {
        padding: 25px 0 70px 0;  
      }
}
